<div class="header">
  <h1>To-Do List</h1>
</div>
<hr>
<p>Enter Your day to day task below:</p>
<input id="task" type="text" placeholder="Enter new Task" #task>
<br><br>
<button id="addTaskBtn" (click)="addTask(task.value)">Add Task</button>
<br><br>
<hr>
<p>Tasks:</p>
<table>
  <tr>
    <th id="th1">Task Complete</th>
    <th id="th2" colspan="2">Task Details</th>
  </tr>
  <tr *ngFor="let item of list">
    <td id="td1"><input type="checkbox" name="taskComplete" id="taskComplete"></td>
    <td id="td2">{{item.name}}</td>
    <td id="td3"><button id="deleteTaskBtn" (click)="removeTask(item.id)">Delete Task</button></td>
  </tr>
</table>